<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Stylesheet START -->
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/home.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/about.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/css/contact.css" media="screen" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <!-- Stylesheet END -->

  <title><%= title %></title>
</head>

<body>
  <!-- Background START -->
  <div class="background-grid">
    <div class="background-grid-1"></div>
    <div class="background-grid-2"></div>
    <div class="background-grid-3"></div>
    <div class="background-grid-4"></div>
    <div class="background-grid-5"></div>
  </div>
  <!-- Background END -->

  <!-- Navbar START -->
  <nav id="nav">
    <div class="nav-body">
      <a href="/" id="home-icon-nav"><i class="material-icons">home</i></a>
      <div class="nav-links">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/assets/Javad Sharifzadeh-Najafi - Resume.pdf" target="blank">Resume</a>
      </div>
    </div>
    <div class="nav-pointer">
      <p>
        ________________
        <br />
        ________________
      </p>
    </div>
  </nav>
  <!-- Navbar END -->