<%- include('partials/header') %>

<!-- About START -->
<section id="about-content" class="content">
  <div class="content-head">
    <h1>About Me</h1>
  </div>

  <div class="about">
    <img src="./assets/jphoto.jpg" alt="Photo of Javad" id="javad-photo" />
    <p>
      I am an aspiring Web Developer Student seeking new opportunities and
      challenges. My desire to learn new skills is what challenges me to further
      enhance my education and expertise for varying industries. Being part of
      the SAIT's Web Developer Fast-Track program helped me reinforce techniques
      and applications of languages such as Node.js/JavaScript, HTML, and CSS by
      taking on independent and collaborative assignments.
    </p>
  </div>
</section>
<!-- About END -->

<%- include('partials/footer') %>
