<%- include('partials/header') %>

<!-- Contact START -->
<section id="contact-content" class="content">
  <div class="content-head">
    <h1>Contact</h1>
  </div>

  <div class="contact">
    <form action="https://formspree.io/xyypdjlq" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="John Doe" id="name" required>
      <label for="email">E-Mail</label>
      <input type="email" name="_replyto" placeholder="johndoe@acme.com" id="email" required>
      <label for="subject">Subject</label>
      <input type="text" name="subject" id="subject" placeholder="RE: Business opportunity" required>
      <label for="message">Message</label>
      <textarea name="message" id="message" cols="30" rows="10" placeholder="Insert your message here"
        required></textarea>
      <input type="submit" id="submit" value="Send Message">
    </form>
  </div>
</section>
<!-- Contact END -->

<%- include('partials/footer') %>