<%- include('partials/header') %>

<!-- Contact START -->
<section id="contact-content" class="content">
  <div class="content-head">
    <h1>Contact</h1>
  </div>

  <div class="contact">
    <div
      class="inbound-form-wrapper"
      id="form_2367"
      data-path="https://app.99inbound.com/i/5690a2bd-0552-4d0d-9f0a-0142303ed035"
      data-token="cvP6jv8ptGl55buYHqxfgwtt"
    ></div>
  </div>
</section>
<!-- Contact END -->

<%- include('partials/footer') %>
