<%- include('partials/header') %>

<!-- Hero START -->
<section id="home-content" class="main-head">
  <div class="content-head">
    <h1>Legacy Profile</h1>
  </div>

  <div class="main">
    <p>
      If you are not redirected in five seconds, please refer to the following
      link for the main profile. Thank you for visiting.
    </p>
    <a href="https://jsharifz.herokuapp.com/"
      >https://jsharifz.herokuapp.com/</a
    >
  </div>
</section>
<!-- Hero END -->

<!-- Projects END -->
