/* Contact START */

* {
    font-family: 'Spartan';
}

.contact {
    display: flex;

    justify-content: center;

    width: 100%;

    padding: 1rem 0;

    background-color: rgba(236, 255, 255, 0.9);
}

form {
    display: flex;
    flex-direction: column;

    padding: 1rem 1.5rem;
    border-radius: 1rem;

    width: 50%;
}


form * {
    border-radius: 0.5rem;
}

#name, #email, #submit, #subject {
    padding: 0.5rem;
}

#submit {
    margin: 0.5rem 0;
    transition: 0.25s;
}

#submit:hover {
    background: rgb(214, 214, 255);
}

label {
    padding-top: 0.5rem;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid black;
}

/* Contact END */
